@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$main: rgba(240, 70, 42, 1);
$main2: rgb(245, 237, 237);

html{
    scroll-behavior: smooth;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin:0;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;

}

.hidden{
    z-index: -5;
    opacity: 0%;
    pointer-events: none;
    transition: 0.3s;
}

main{
    width: 100%;
    display: flex;
    transition: 0.3s;

    .main-container{
        width: 63%;
        transition: 0.3s;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(255, 255, 255);
        position: absolute;
        left: 0;
        top:0;

        .login-container{
            transition: 0.3s;
            // padding: 14% 0;
            box-sizing: border-box;
            width: 100%;
            height: 100vh;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            .link-container{
                width: 250px;
                display: flex;
                justify-content: space-between;
                align-items: center;
    
                a{
                    width: 55px;
                    height: 55px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    border-radius: 50%;
                    transition: 0.3s;
                }
                a:hover{
                    opacity: 75%;
                }
    
                .fbIcon{
                    background-color: rgb(63, 130, 255);
                    font-size: 30px;
                    color: white;
                }
                .googleIcon{
                    background-color: rgb(255, 92, 47);
                    font-size: 30px;
                    color: white;
                }
                .linkedinIcon{
                    background-color: rgb(48, 26, 104);
                    font-size: 30px;
                    color: white;
                }
            }
    
            .headerTitle{
                font-size: 60px;
                font-weight: 600;
                width: 90%;
                text-align: center;
            }
    
            p{
                font-size: 20px;
            }
    
            form{
                margin-top: 20px;
                width: 68%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 15px;
                position: relative;
    
                input{
                    width: 100%;
                    height: 40px;
                    border-radius: 15px;
                    outline: none;
                    border: none;
                    background-color: $main2;
                    text-indent: 15px;
                }
                input[type="submit"]{
                    text-indent: unset;
                    border-radius: 40px;
                    background-color: $main;
                    cursor: pointer;
                    width: 45%;
                    height: 55px;
                    color:white;
                    font-size: 16px;
                    margin-top: 15px;
                    transition: 0.3s;
                }
                input[type="submit"]:hover{
                    opacity: 75%;
                }
                input[type="submit"]:disabled{
                    opacity: 75%;                    
                    cursor: default;
                }
    
                .togglePassBtn{
                    position: absolute;
                    right:3px;
                    bottom: 92.5px;
                    font-size: 20px;
    
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                    color:$main;
                    transition: 0.3s;

                    i{
                        pointer-events: none;
                    }
                }
                .togglePassBtn:hover{
                    opacity: 60%;
                }
    
                .separator {
                    display: flex;
                    align-items: center;
                    text-align: center;
                    color: rgba(128, 128, 128, 0.447);
                    width: 100%;
                }
                  
                .separator::before,
                .separator::after {
                    content: '';
                    flex: 1;
                    border-bottom: 2px solid rgba(128, 128, 128, 0.169);
    
                    outline: none;
                }
                  
                .separator:not(:empty)::before {
                    margin-right: .25em;
                }
                  
                .separator:not(:empty)::after {
                    margin-left: .25em;
                }
            }
        }
    
        .register-container{
            transition: 0.3s;
            height: 100vh;
            width: 100%;
            position: absolute;
            top:0;
            right:0;

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;


            .link-container{
                width: 250px;
                display: flex;
                justify-content: space-between;
                align-items: center;
    
                a{
                    width: 55px;
                    height: 55px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    border-radius: 50%;
                    transition: 0.3s;
                }
                a:hover{
                    opacity: 75%;
                }
    
                .fbIcon{
                    background-color: rgb(63, 130, 255);
                    font-size: 30px;
                    color: white;
                }
                .googleIcon{
                    background-color: rgb(255, 92, 47);
                    font-size: 30px;
                    color: white;
                }
                .linkedinIcon{
                    background-color: rgb(48, 26, 104);
                    font-size: 30px;
                    color: white;
                }
            }
    
            .headerTitle{
                font-size: 60px;
                font-weight: 600;
                width: 90%;
                text-align: center;
            }
    
            p{
                font-size: 20px;
            }
    
            form{
                margin-top: 20px;
                width: 68%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 15px;
                position: relative;
    
                input{
                    width: 100%;
                    height: 40px;
                    border-radius: 15px;
                    outline: none;
                    border: none;
                    background-color: $main2;
                    text-indent: 15px;
                }
                input[type="submit"]{
                    text-indent: unset;
                    border-radius: 40px;
                    background-color: $main;
                    cursor: pointer;
                    width: 45%;
                    height: 55px;
                    color:white;
                    font-size: 16px;
                    margin-top: 15px;
                    transition: 0.3s;
                }
                input[type="submit"]:hover{
                    opacity: 75%;
                }
                input[type="submit"]:disabled{
                    opacity: 75%;
                    cursor: default;
                }

                span{
                    position: relative;
                    width: 100%;

                    .togglePassBtn{
                        position: absolute;
                        right:3px;
                        top: 15%;

                        font-size: 20px;
        
                        background-color: transparent;
                        border: none;
                        cursor: pointer;
                        color:$main;
                        transition: 0.3s;

                        i{
                            pointer-events: none;
                        }
                    }
                    .togglePassBtn:hover{
                        opacity: 60%;
                    }
                    .passwordStrength{
                        position: relative;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 25px;

                        .passStrInfo{
                            position: absolute;
                            left: 16px;
                            width: max-content;
                        }

                        .bar{
                            transition: 0.3s;
                            opacity: 0%;
                            background-color: $main2;
                            border-radius: 15px;
                            width: 70%;
                            height: 10px;
                            position: absolute;
                            overflow: hidden;
                            right: 0;

                            .barProgress{
                                transition: 0.3s;
                                width: 0%;
                                height: 10px;
                            }
                        }
                    }
                }
    

    
                .separator {
                    display: flex;
                    align-items: center;
                    text-align: center;
                    color: rgba(128, 128, 128, 0.447);
                    width: 100%;
                }
                  
                .separator::before,
                .separator::after {
                    content: '';
                    flex: 1;
                    border-bottom: 2px solid rgba(128, 128, 128, 0.169);
    
                    outline: none;
                }
                  
                .separator:not(:empty)::before {
                    margin-right: .25em;
                }
                  
                .separator:not(:empty)::after {
                    margin-left: .25em;
                }
            }
        }
    }

    .btn-container{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='400' height='1000' preserveAspectRatio='none' viewBox='0 0 400 1000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1174%26quot%3b)' fill='none'%3e%3crect width='400' height='1000' x='0' y='0' fill='url(%23SvgjsLinearGradient1175)'%3e%3c/rect%3e%3cpath d='M18.75 561.73 a77.97 77.97 0 1 0 155.94 0 a77.97 77.97 0 1 0 -155.94 0z' fill='rgba(255%2c 255%2c 255%2c 0.15)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M43.11 367.22 a125.82 125.82 0 1 0 251.64 0 a125.82 125.82 0 1 0 -251.64 0z' fill='rgba(255%2c 255%2c 255%2c 0.15)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M281.55645199616623 78.56057144850763L241.6727920800407 60.803221978758316 234.97859783347948 129.50738658782123z' fill='rgba(255%2c 255%2c 255%2c 0.15)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M26.898737083785285 153.76831453035808L-5.9177150054354435 284.85557726436906 108.18425315937421 254.28204703980666z' fill='rgba(255%2c 255%2c 255%2c 0.15)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M321.4751220115569 869.8717270067476L389.9493878440842 911.1040852320658 392.3878694835846 841.2751073775938z' fill='rgba(255%2c 255%2c 255%2c 0.15)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M191.64 1.43 a93.36 93.36 0 1 0 186.72 0 a93.36 93.36 0 1 0 -186.72 0z' fill='rgba(255%2c 255%2c 255%2c 0.15)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M-81.48 603.57 a101.73 101.73 0 1 0 203.46 0 a101.73 101.73 0 1 0 -203.46 0z' fill='rgba(255%2c 255%2c 255%2c 0.15)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1174'%3e%3crect width='400' height='1000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='50%25' x2='100%25' y2='50%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1175'%3e%3cstop stop-color='rgba(240%2c 70%2c 42%2c 1)' offset='0.24'%3e%3c/stop%3e%3cstop stop-color='rgba(179%2c 68%2c 39%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-size: cover;
        transition: 0.3s;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 37%;
        height: 100vh;

        position: absolute;
        right: 0;
        top:0;

        .registerBtnContainer{
            position: absolute;
            transition: 0.3s;

    
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap:25px;
            .regTitle{
                font-size: 40px;
                font-weight: 600;
                transition: 0.3s;
            }
            span{
                transition: 0.3s;
                text-align: center;
                color: white;
                font-size: 22px;
            }
            .signupBtn{
                height: 45px;
                transition: 0.3s;
                width: 50%;
                border-radius: 50px;
                border:none;
                font-weight: 600;
                font-size: 15px;
                box-shadow: rgba(96, 96, 96, 0.63) -4px 4px 29px 0px;
                cursor: pointer;
            }
            a{
                display: flex;
                justify-content: center;
                width: 100%;
                text-decoration: none;
                .signupBtnMobile{
                    height: 45px;
                    transition: 0.3s;
                    width: 50%;
                    border-radius: 50px;
                    border:none;
                    font-weight: 600;
                    font-size: 15px;
                    box-shadow: rgba(96, 96, 96, 0.63) -4px 4px 29px 0px;
                    cursor: pointer;
                    display: none;
                }
            }

        }

        .loginBtnContainer{
            position: absolute;
            transition: 0.3s;

    
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            h1{
                color: white;
                font-size: 40px;
                font-weight: 600;
                text-align: center;
                transition: 0.3s;
            }
            .loginBtn{
                height: 45px;
                width: 50%;
                border-radius: 50px;
                border:none;
                font-weight: 600;
                font-size: 15px;
                box-shadow: rgba(96, 96, 96, 0.63) -4px 4px 29px 0px;
                cursor: pointer;
                transition: 0.3s;
            }        
            a{
                display: flex;
                justify-content: center;
                width: 100%;
                text-decoration: none;    
            .loginBtnMobile{
                height: 45px;
                width: 50%;
                border-radius: 50px;
                border:none;
                font-weight: 600;
                font-size: 15px;
                box-shadow: rgba(96, 96, 96, 0.63) -4px 4px 29px 0px;
                cursor: pointer;
                transition: 0.3s;
                display: none;
            }
        }
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
    main{
        .main-container{
            .register-container{
                form{
                    span{
                        .passwordStrength{
                            .bar{
                                width: 55%;
                            }
                        }
                    }
                }
            }
        }

        .btn-container{

            .registerBtnContainer{
                span{
                    font-size: 2.3vw;
                }
            }
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    main{
        flex-direction: column;

        .main-container{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            position: unset;

            .login-container{
                width: 100%;
                padding: unset;
                justify-content: center;
            }
    
            .register-container{
                width: 100%;

                form{
                    span{
                        position: relative;
                        width: 100%;
    
                        .passwordStrength{
                            position: relative;
                            flex-direction: column;
                            height: 32px;
    
                            .passStrInfo{
                                position: relative;
                            }
    
                            .bar{
                                position: relative;
                            }
                        }
                    }
                }


            }
        }

        .btn-container{
            position: unset;
            width: 100%;

            .registerBtnContainer{
                .signupBtn{
                    display: none;
                }
                a{
                    .signupBtnMobile{
                        display: block;
                    }
                }
            }

            .loginBtnContainer{
                .loginBtn{
                    display: none;
                }
                a{
                    .loginBtnMobile{
                        display: block;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    main{
        flex-direction: column;

        .main-container{
            display: flex;
            justify-content: center;
            align-items: center;
            position: unset;
            width: 100%;
            .login-container{
                width: 100%;
                padding: unset;
                justify-content: center;
    
                .headerTitle{
                    font-size: 13vw;
                }
    
                .link-container{
                    width: 80%;
                    justify-content: space-around;
    
                    a{
                        width: 14vw;
                        height: 14vw;
                    }
    
                    .fbIcon{
                        font-size: 7vw;
                    }
                    .googleIcon{
                        font-size: 7vw;
                    }
                    .linkedinIcon{
                        font-size: 7vw;
                    }
                }
    
                p{
                    font-size: 6vw;
                }
            }
    
            .register-container{
                width: 100%;

                .headerTitle{
                    font-size: 13vw;
                }
    
                .link-container{
                    width: 80%;
                    justify-content: space-around;
    
                    a{
                        width: 14vw;
                        height: 14vw;
                    }
    
                    .fbIcon{
                        font-size: 7vw;
                    }
                    .googleIcon{
                        font-size: 7vw;
                    }
                    .linkedinIcon{
                        font-size: 7vw;
                    }
                }
    
                p{
                    font-size: 6vw;
                }

                form{
                    span{
                        position: relative;
                        width: 100%;
    
                        .passwordStrength{
                            position: relative;
                            flex-direction: column;
                            height: 32px;
    
                            .passStrInfo{
                                position: relative;
                            }
    
                            .bar{
                                position: relative;
                            }
                        }
                    }
                }
            }
        }

        .btn-container{
            position: unset;
            width: 100%;
            .registerBtnContainer{
                .signupBtn{
                    display: none;
                }
                a{
                    .signupBtnMobile{
                        display: block;
                    }
                }
            }

            .loginBtnContainer{
                .loginBtn{
                    display: none;
                }
                a{
                    .loginBtnMobile{
                        display: block;
                    }
                }
            }
        }
    }
}